@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
    font-family:"Anonymous Pro",sans-serif;
    max-width: 1000px;
    min-width: 1000px;
    margin: 0 auto;
    overflow-x: hidden;
}

h1 {
    font-family:"Anonymous Pro",sans-serif;
    font-weight: 400;
    font-size: 47px;
    line-height: 100px;
    margin: 250px 0 170; 
}

#read_more_link {
    border: solid 2px #000000;
    padding: 7px 10px;
    border-radius: 100px;
    display: inline-block;
    text-decoration: none;
    color: black;    
}

#read_more_link:hover{
    background-color: black;
    color: white;
}



#discription {
    width: 400px;
    font-size: large;
    float: right;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

nav ul {
    display: inline-block;
    margin: 0;
}

nav{
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 1000px;
    top: 0;
}

nav a{
    color: white;
    text-decoration: none;

}

nav a:hover{
    text-decoration: underline;
}

#main_link{
    font-weight: bolder;
    text-transform: uppercase;
}

#ceti {
    position: absolute;
    right: 550px;
    top: 180px;
    height: 300px;
}

h2 {
    font-family:"Anonymous Pro",sans-serif;
    font-weight: 400;
    font-size: 50px;
    line-height: 1px;
    margin-top: 200px; 
}
#about_me p{
    font-size: 25px;
    width: 400px;
    float: left;
    margin: -280px 0;

}


#about_me img {
    height: 300px;

    mix-blend-mode: overlay;
    
}

.background{
    position: absolute;
    left: 0;
    width: 100%;
    z-index: -1;
}

#main .background {
    top: 0;
    background:radial-gradient(#E219BD,#5FD08A,#6E44C1);
    height: 770px;
    
}

#about_me .background {
    top: 0;
    background:solid(#9A5626);
    height: 1080px;
    
}

#skills .background{
    top: 750px;
    background: #9A5626;
    height: 1500px;
}

#skills {
    color: white;
}

#skills figure figcaption{
    font-size: 20px;
}

#project .background{
    top: 2250px;
    background-color: #082567;
    height: 1500px;
}

#project .gallery{
    float: right;
    width: 50%;
}

#project p{
    width: 50%;
    font-size: 25px;
    padding-top: 30px;
}

#how{
    color: white;
}

#how img{
    position: absolute;
}

h3{
    font-family:"Anonymous Pro",sans-serif;
    font-weight: 400;
    font-size: 50px;
    line-height: 1px;
    margin-top: 900px; 
}

#plans h2{
    top: 200px;
}

#plans .background{
    top: 3750px;
    background: #BFFF00;
    height: 600px;
}



#plans table td{
    vertical-align: top;
    padding: 0 0 30px 60px;
}

#thanks .background{
    top: 4350px;
    background: #E393F8;
    height: 650px;
}

#thanks{
    clear: both;
    padding: 100px 0;
}

